<h2>angular basic</h2>
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-class-binding></app-class-binding>
<app-event-binding></app-event-binding>
<app-template-referance-variable></app-template-referance-variable>
<app-two-way-binding></app-two-way-binding>
<app-ng-if-switch-for></app-ng-if-switch-for>
<app-data-share-between-com (childEvent)="mas=$event" [parentName]="name"></app-data-share-between-com> 
<div>
    <h3>{{mas}}</h3>
</div>
<app-pipes></app-pipes>
<app-student-detail-list></app-student-detail-list>
<app-student-list></app-student-list>
<app-manger-details></app-manger-details>
<button routerLink="/students">student</button>
<button routerLink="/teachers">teacher</button>
<router-outlet></router-outlet>
